<div class="mx-auto login-container">
    <div class="mx-auto logo">
        <img src="assets/workflow_logo.png" class="logo" alt="logo" />
    </div>
    <div class="card">
        <div class="card-body login-form">
            <h1>Reset your password</h1>
            <p>Tell us the email address associated with your WorkFlow account and we'll send you a reset link.</p>
            <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit()">
                <div class="mb-2">
                    <mat-form-field class="input-block">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email?.invalid">
                            {{emailErrorMessage}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="d-grid">
                    <button mat-raised-button color="primary" class="cus-mat-btn" type="submit">Submit</button>
                </div>
                <hr />
                <a routerLink="/login">Back to login</a>
            </form>
        </div>
    </div>
</div>