<div id="chat-container">
    <div #scrollMe id="message-container">
        <ng-container *ngFor="let item of messages">
            <ng-container *ngIf="item.role==='assistant'; else userMessage">
                <div class="bot-msg-container">
                    <div><img src="assets/images/{{this.animalName}}.jpg" class="animal-picture" /></div>
                    <div class="message-container" [innerHTML]="item.content"></div>
                    <div class="share-icon-container"><button class="button-icon" (click)="share(item.content)"><i
                                class="bi bi-share"></i></button></div>
                </div>
            </ng-container>
            <ng-template #userMessage>
                <div class="user-msg-container" [innerHTML]="item.content"></div>
            </ng-template>
        </ng-container>
        <div id="loading" *ngIf="chatSpinner">
            <div class="dot-collision"></div>
        </div>
    </div>
    <footer>
        <form (ngSubmit)="sendMessage()" [formGroup]="chatbotForm" novalidate #form="ngForm">
            <div class="input-container">
                <div id="text-area-container">
                    <button (click)="emojiToggle()" class="emoji-smile-button emoji-button"><i
                            class="bi bi-emoji-smile"></i></button>
                    <textarea id="message" rows="1" formControlName="message" (input)="onInput();setSelection($event)"
                        (keydown)="setSelection($event)" (click)="setSelection($event)"></textarea>
                    <button (click)="start()" class="mic-button" type="button"><i class="bi bi-mic"></i></button>
                </div>
                <button type="submit" class="send-btn button-icon" [disabled]="messages.length>=10">
                    <i class="bi bi-send"></i>
                </button>
            </div>
            <div *ngIf="emojiFlag">
                <ul class="emoji-buttons-container">
                    <li *ngFor="let emoji of emojis">
                        <button (click)="addEmoji(emoji)">{{emoji}}</button>
                    </li>
                </ul>
            </div>
        </form>
    </footer>
</div>